@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor http
@model IEnumerable<MouseHouse.Models.Product>

@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Summary</h1>

@{
    string prevUrl = http.HttpContext.Request.Path;
}

@foreach (var item in Model)
{
    <div class="row-body">
        <p class="row-price">@Html.DisplayFor(modelItem => item.Price)</p>
        <div class="row-image">
            @{
                string ImagePath = item.ImageUrl;
            }
            <img class="row-image" src="~/@ImagePath">
        </div>
        <h5 class="row-title">@Html.DisplayFor(modelItem => item.Title)</h5>
        <p class="row-text">@Html.DisplayFor(modelItem => item.Category)</p>

        <a asp-route-id="@item.ProductId" asp-route-prevUrl="@prevUrl" asp-controller="Cart" asp-action="Delete">Remove from Cart</a>
    </div>
}


 @if (!CartCookieHelper.IsCartEmpty(http))
 {
<div>
    <h4>Total: $@Math.Round(CartCookieHelper.GetCartTotal(http), 2)</h4>
    <a class="btn btn-primary"
       asp-controller="Checkout"
       asp-action="AddressAndPayment">
        Proceed to Checkout
    </a>
    <a class="btn btn-danger" asp-route-prevUrl="@prevUrl" asp-controller="Cart" asp-action="ClearCart">Empty Cart</a>
</div>
 }
 else
 {
     <h4>Your cart is empty!</h4>
     <a asp-action="Index" asp-controller="Catalog">Let's go fix that.</a>
 }

